/* background styling */
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('love2.gif'); /* replace with workin one */
  background-size: cover;
  z-index: -1;  
}

/* styling question  */

.question{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* styling buttons  */
.buttons{
  display: flex;
  justify-content: center;
}
button{
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
/* styling yesButton  */

  #yesButton{
  background-color:  #4CAF50; /* green*/
  color: white;  /* text */
}
/* stiling noButton + replacement  */

#noButton, #noButton::after {
  background-color: #FF5733; /* red */
  color: white; /* text */
}

button:hover{
  opacity: 0.8; /* reduce opacity on hover */
}

/*  adjusting no button size*/

#noButton {
  transition: margin-left 0.3s; /* for soothing the margin */
}



